@layer base, components;

@layer base {
  :root {
    --background-color: oklch(98% 0.02 240);
    --text-color: oklch(25% 0.15 240);
    --accent-color: oklch(65% 0.25 290);
    --surface-color: oklch(99% 0.01 240);
    --shadow-color: oklch(20% 0.1 240 / 40%);

    --font-family-base: 'Pretendard', sans-serif;
  }

  body {
    font-family: var(--font-family-base);
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.15' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  }

  main {
    padding: 2rem;
  }
}

@layer components {
  lunch-recommender {
    display: block;
    max-width: 700px;
  }
}